* {
    font-family: Arial, Helvetica, sans-serif;
}

.App {
    display: flex;
    align-items: center;
    justify-content: center;
    align-content: center;
    flex-wrap: wrap;
}

.main-wrapper {
    margin-top: 7vh; /* Mora se odvojiti malo od vrha zbog sticky nav bara */
    width: 60%;
    /* height: 200vh; */
}