* {
    /* border: 1px solid red; */
}


.Navbar {
    /* background-color: rgb(40,40,40); */
    background-color: #f8fafc;
    padding-top: 0px;
    padding-bottom: 0px;
    position: fixed;
    top: 0;
    width: 100%;
    margin: 0px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    align-content: center;
}


.navbar-center {
    width: 60%;
    /*width: auto;*/
    /* margin: auto; */
    /* background-color: rgb(60, 60, 60); */
    /* position: relative;*/
    display: inline-flex;
    justify-content: center;
    align-items: center;
    align-content: center;
}


.center-container {
    
    padding: 0px;
    margin: 0px;
    text-align: center;
    width: 20%;
}

.left-container{
    display: inline-flex;
    justify-content: flex-start;
    align-items: center;
    align-content: center;
    width: 40%;
}

.right-container {
    display: inline-flex;
    justify-content: flex-end;
    align-items: center;
    align-content: center;
    width: 40%;
}
ul {
    display: inline-flex;
    align-items: center;
    margin: 0;
    padding: 0;
}

li {
    display: inline-flex;
    /* border: 1px solid red;
    padding: 10px; */
}

li a {
    /* color: #f8fafc; */
    /* border: 1px solid black; */
    color: rgb(40,40,40);
    font-size: 25px;
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
    padding: 10px;
    margin-left: 5px;
    margin-right: 10px;
}



li a:hover {
    background-color: rgb(230,230,230);
}

.search-wrapper {
    height: 30px;
    margin-left: 20px;
    margin-right: 0px;
}

li input {
    width: 10vw;
    margin: 0px;
    border-radius: 25px;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}

#search-image {
    margin: 0px;
    padding: 5px;
    border: 0px solid black;
}

#logo-image {
    height: 30px;
    margin: 0px;
    padding: 10px;
}

.under-shadow {
    box-shadow: 0 6px 6px rgba(0,0,0,.2);
    color: red;
}

#shopping-cart-image {
    width: 30px;
    margin: 0px;
    padding: 0px;
}